@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6mcrrs');
  src:  url('fonts/icomoon.eot?6mcrrs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6mcrrs') format('truetype'),
    url('fonts/icomoon.woff?6mcrrs') format('woff'),
    url('fonts/icomoon.svg?6mcrrs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-radio-button:before {
  content: "\e900";
}
.icon-radio-button-selected:before {
  content: "\e901";
}
.icon-log-out:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e903";
}
.icon-x-mark:before {
  content: "\e904";
}
.icon-arrowup:before {
  content: "\e905";
}
.icon-arrowdown:before {
  content: "\e906";
}
.icon-delete:before {
  content: "\e907";
}
.icon-check-mark:before {
  content: "\e908";
}
.icon-edit:before {
  content: "\e909";
}
.icon-faq:before {
  content: "\e90a";
}
.icon-info:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-upload:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
}
.icon-user-filled:before {
  content: "\e910";
}

