.panel table.asset {width: 100%; border-spacing: 0; border: 0;}
.panel table.asset tbody, table.asset thead {display: block;}
.panel thead tr th {height: 30px; line-height: 30px;}
.panel table.asset thead tr td, .panel table.asset tbody tr td {vertical-align: middle;}
/* type 1 */
.panel.panel-type1 {background-color: #fff; border: 0px; border-radius: 5px; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); margin-bottom: 0px;}
.panel-type1 > .panel-heading {background-color: #2c7bc7; border-color: transparent; padding: 11px 19px}
.panel-type1 > .panel-heading > h3 {font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 26px; color: #fff;}
.panel-type1 > .panel-heading > .form-control {margin-bottom:0px !important;}
.panel-type1 > .panel-body {padding:0;}
.panel-type1 > .panel-body table.asset {width: 100%; border-spacing: 0; border: 0;}
.panel-type1 > .panel-body table.asset thead {height: 53px; border-top:1px solid #dddfe5; border-bottom:1px solid #dddfe5; background-color: #f0f2f8; padding-right: 17px}
.panel-type1 > .panel-body table.asset thead td {color: #4e7ac3; font-family: "Fjalla One",sans-serif; font-size: 16px; height: 53px; text-align: center;}
.panel-type1 > .panel-body table.asset tbody {height: 280px; overflow-y: auto; overflow-x: hidden; border-bottom-left-radius:5px, border-bottom-right-radius:5px}
.panel-type1 > .panel-body table.asset tbody tr {width: 100%; display: table;}
.panel-type1 > .panel-body table.asset tbody td {text-align: center; height: 35px; color:#5e6c8c; background-color:#f7f8fb; border-bottom: 1px solid #ebebeb;}
.panel-type1 > .panel-body table.asset tbody tr.active td {background-color:#2c7bc7; color:#fff;}
.panel-type1 > .panel-body table.asset tbody tr:last-child td {border-bottom: 0 transparent}
.panel-type1 > .panel-body table.asset tbody tr td a {color:#2c7bc7; text-decoration: underline;}
.panel-type1 > .panel-body table.asset tbody tr.active td {background-color:#2c7bc7; color:#fff;}
.panel-type1 > .panel-body table.asset tbody tr.active td > a {color:#fff;}		
.panel-type1 > .panel-body table.asset tbody td:nth-child(1), .panel-type1 > .panel-body table.asset thead td:nth-child(1) {width: 40px}
.panel-type1 > .panel-body table.asset tbody td:nth-child(2), .panel-type1 > .panel-body table.asset thead td:nth-child(2) {width: 50px}
.panel-type1 > .panel-body table.asset tbody td:nth-child(3), .panel-type1 > .panel-body table.asset thead td:nth-child(3) {width: 50px}
.panel-type1 > .panel-body table.asset tbody td:nth-child(4), .panel-type1 > .panel-body table.asset thead td:nth-child(4) {width: 50px}
.panel-type1 > .panel-body table.asset tbody td:nth-child(5), .panel-type2 > .panel-body table.asset thead td:nth-child(5) {width: 63px}
/* type 2 */
.panel.panel-type2 {background-color: #fff; border: 0px; border-radius: 5px; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); margin-bottom: 0px;}
.panel-type2 > .panel-heading {background-color: #f7f8fb; border-color: transparent; padding: 11px 19px}
.panel-type2 > .panel-heading > h3 {font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 26px; color: #586c8f;}
.panel-type2 > .panel-body {padding:0;}
.panel-type2 > .panel-body table.asset {width: 100%;}
.panel-type2 > .panel-body table.asset thead {height: 53px; border-top:1px solid #dddfe5; border-bottom:1px solid #dddfe5; background-color: #f0f2f8; padding-right: 17px}
.panel-type2 > .panel-body table.asset thead td {color: #4e7ac3; font-family: "Fjalla One",sans-serif; font-size: 16px; height: 53px; text-align: center;}
.panel-type2 > .panel-body table.asset tbody {height: 280px; overflow-y: auto; overflow-x: hidden; border-bottom-left-radius:5px, border-bottom-right-radius:5px}
.panel-type2 > .panel-body table.asset tbody tr {width: 100%; display: table;}
.panel-type2 > .panel-body table.asset tbody td {text-align: center; height: 35px; color:#5e6c8c; background-color:#f7f8fb; border-bottom: 1px solid #ebebeb;}
.panel-type2 > .panel-body table.asset tbody tr.active td {background-color:#2c7bc7; color:#fff;}
.panel-type2 > .panel-body table.asset tbody tr:last-child td {border-bottom: 0 transparent}
.panel-type2 > .panel-body table.asset tbody tr td a {color:#2c7bc7; text-decoration: underline;}
.panel-type2 > .panel-body table.asset tbody tr.active td {background-color:#2c7bc7; color:#fff;}
.panel-type2 > .panel-body table.asset tbody tr.active td > a {color:#fff;}		
.panel-type2 > .panel-body table.asset tbody td:nth-child(1), .panel-type2 > .panel-body table.asset thead td:nth-child(1) {width: 9.868%}
.panel-type2 > .panel-body table.asset tbody td:nth-child(2), .panel-type2 > .panel-body table.asset thead td:nth-child(2) {width: 10.745%}
.panel-type2 > .panel-body table.asset tbody td:nth-child(3), .panel-type2 > .panel-body table.asset thead td:nth-child(3) {width: 34.377%}
.panel-type2 > .panel-body table.asset tbody td:nth-child(4), .panel-type2 > .panel-body table.asset thead td:nth-child(4) {width: 18.421%}
.panel-type2 > .panel-body table.asset tbody td:nth-child(5), .panel-type2 > .panel-body table.asset thead td:nth-child(5) {width: 22.368%}
/* type 3 */
.panel.panel-type3 {background-color: #fff; border: 0px; border-radius: 5px; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); margin-bottom: 0px;}
.panel-type3 > .panel-heading {background-color: #f7f8fb; border-color: transparent; padding: 11px 19px}
.panel-type3 > .panel-heading > h3 {font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 26px; color: #586c8f;}
.panel-type3 > .panel-body {padding:0;}
.panel-type3 > .panel-body table.asset {width: 100%;}
.panel-type3 > .panel-body table.asset thead {height: 53px; border-top:1px solid #dddfe5; border-bottom:1px solid #dddfe5; background-color: #f0f2f8; padding-right: 17px}
.panel-type3 > .panel-body table.asset thead td {color: #4e7ac3; font-family: "Fjalla One",sans-serif; font-size: 16px; height: 53px; text-align: center;}
.panel-type3 > .panel-body table.asset tbody {height: 280px; overflow-y: auto; overflow-x: hidden; border-bottom-left-radius:5px, border-bottom-right-radius:5px}
.panel-type3 > .panel-body table.asset tbody tr {width: 100%; display: table;}
.panel-type3 > .panel-body table.asset tbody tr td {text-align: center; height: 35px; color:#5e6c8c; background-color:#f7f8fb; border-bottom: 1px solid #ebebeb;}
.panel-type3 > .panel-body table.asset tbody tr.active td {background-color:#2c7bc7;}
.panel-type3 > .panel-body table.asset tbody tr:last-child td {border-bottom: 0 transparent}
.panel-type3 > .panel-body table.asset tbody td a {color:#2c7bc7; text-decoration: underline;}		
.panel-type3 > .panel-body table.asset tbody td:nth-child(1), .panel-type3 > .panel-body table.asset thead td:nth-child(1) {width: 14.367%}
.panel-type3 > .panel-body table.asset tbody td:nth-child(2), .panel-type3 > .panel-body table.asset thead td:nth-child(2) {width: 40.229%}
.panel-type3 > .panel-body table.asset tbody td:nth-child(3), .panel-type3 > .panel-body table.asset thead td:nth-child(3) {width: 23.988%}
.panel-type3 > .panel-body table.asset tbody td:nth-child(4), .panel-type3 > .panel-body table.asset thead td:nth-child(4) {width: 22.413%}	
/* panel container */
.panel.panel-type-container {box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); border:none;}
.panel.panel-type-container > .panel-heading {background-color: #2c7bc7; border-color: transparent; padding: 8px 19px; height: 55px}
.panel.panel-type-container > .panel-heading > h3 {font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 26px; color: #fff; padding-top:4px}
#bottom-panels label {color: #fff; margin-right: 10px; margin-left: 35px}

/* type 4 */
.panel.panel-type4 {background-color: #fff; border: 0px; border-radius: 5px; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); margin-bottom: 0px;}
.panel-type4 > .panel-heading {background-color: #f7f8fb; border-color: transparent; padding: 11px 19px}
.panel-type4 > .panel-heading > h3 {font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 26px; color: #586c8f;}
.panel-type4 > .panel-body {padding:0;}
.panel-type4 > .panel-body table.asset {width: 100%;}
.panel-type4 > .panel-body table.asset thead {height: 53px; border-top:1px solid #dddfe5; border-bottom:1px solid #345c90; background-color: #377cc0; padding-right: 17px}
.panel-type4 > .panel-body table.asset thead td {color: #fff; font-family: "Fjalla One",sans-serif; font-size: 16px; height: 53px; text-align: center;}
.panel-type4 > .panel-body table.asset thead td div.select-asset {padding: 8px; margin-left: 5px}


.panel-type4 > .panel-body table.asset tbody {height: 280px; overflow-y: auto; overflow-x: hidden; border-bottom-left-radius:5px, border-bottom-right-radius:5px; background: -moz-linear-gradient(top,  #276ab0 0%, #142e5d 100%); background: -webkit-linear-gradient(top,  #276ab0 0%,#142e5d 100%); background: linear-gradient(to bottom,  #276ab0 0%,#142e5d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276ab0', endColorstr='#142e5d',GradientType=0 );}
.panel-type4 > .panel-body table.asset tbody tr {width: 100%; display: table;}
.panel-type4 > .panel-body table.asset tbody tr td {text-align: center; height: 35px; color:#fff; border-bottom: 1px solid #345c90;}
.panel-type4 > .panel-body table.asset tbody tr:last-child td {border-bottom: 0 transparent}
.panel-type4 > .panel-body table.asset tbody td a {color:#fff; text-decoration: underline;}		
.panel-type4 > .panel-body table.asset tbody td:nth-child(1), .panel-type4 > .panel-body table.asset thead td:nth-child(1) {width: 103px}
.panel-type4 > .panel-body table.asset tbody td:nth-child(2), .panel-type4 > .panel-body table.asset thead td:nth-child(2) {width: 135px}
.panel-type4 > .panel-body table.asset tbody td:nth-child(3), .panel-type4 > .panel-body table.asset thead td:nth-child(3) {width: 85px}
/* type 5 */
.panel.panel-type5 {background-color: #fff; border: 0px; border-radius: 5px; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); margin-bottom: 0px;}
.panel-type5 > .panel-heading {background-color: #f7f8fb; border-color: transparent; padding: 11px 19px}
.panel-type5 > .panel-heading > h3 {font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 26px; color: #586c8f;}
.panel-type5 > .panel-body {padding:0; background: -moz-linear-gradient(top,  #276ab0 0%, #142e5d 100%); background: -webkit-linear-gradient(top,  #276ab0 0%,#142e5d 100%); background: linear-gradient(to bottom,  #276ab0 0%,#142e5d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276ab0', endColorstr='#142e5d',GradientType=0 );}
/* type 6 */
.panel.panel-type6 {background-color: #fff; border: 0px; border-radius: 5px; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); margin-bottom: 0px;}
.panel-type6 > .panel-heading {background-color: #f7f8fb; border-color: transparent; padding: 11px 19px}
.panel-type6 > .panel-heading > h3 {font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 26px; color: #586c8f;}
.panel-type6 > .panel-body {padding:0; background: #fff;}
