@font-face {
    font-family: 'equiplight';
    src: url('fonts/equiplig-webfont.woff2') format('woff2'),
         url('fonts/equiplig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'equipcondw03-boldregular';
    src: url('fonts/equipcond-webfont.woff2') format('woff2'),
         url('fonts/equipcond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'equipw03-mediumregular';
    src: url('fonts/equipw03-medium_regular-webfont.woff2') format('woff2'),
         url('fonts/equipw03-medium_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

.mip_styles h1, .mip_styles h2, .mip_styles h3, .mip_styles h4 {margin: 0}
.mip_styles h1, .mip_styles h2, .declaimer, .mip_styles .num-med, .mip_styles .num-sma, .mip_styles p {font-family: 'equiplight', sans-serif;}
.mip_styles h1 {font-size:44px; font-weight:100; color:#343434; text-transform: uppercase;}
.mip_styles h2 {font-size:22px; font-weight:100; color:#343434; text-transform: uppercase;}
.mip_styles h3 {font-family: 'equipw03-mediumregular', sans-serif; font-size:18px; font-weight:400; color:#115740;}
.mip_styles h4 {font-family: 'equipcondw03-boldregular', sans-serif; text-transform: uppercase; font-size:16px; font-weight:100 ; color:#343434;}
.mip_styles .no-block {display: inline-block;}
.mip_styles .declaimer {color: #343434; font-size:16px;}
.mip_styles .num-med {font-size:20px;}
.mip_styles .num-sma {font-size:13px;}
.mip_styles p {font-size: 14px}
.mip_styles p a {color:#115740; text-decoration: underline; -moz-text-decoration-color:#343434; text-decoration-color:#343434;}
.mip_styles .cta-link {color:#115740; font-family:'equiplight'; font-size:14px;}
.mip_styles .cta-link.icon-fw {text-transform: uppercase; color: #343434; font-family: 'equipw03-mediumregular', sans-serif !important; text-decoration: none !important; display: inline-block; padding: 14px 50px}
.mip_styles .cta-link.icon-fw [class^="icon-"] {color:#bc9c36; margin-right: 4px}
.mip_styles a.cta-link.icon-fw:hover, .mip_styles a.cta-link.icon-fw:hover [class^="icon-"] {color:#b5bd00;}
.mip_styles .cta-link.icon-fw-alt {text-transform: uppercase; color: #343434; font-family: 'equipw03-mediumregular', sans-serif !important; text-decoration: none !important; display: inline-block; padding: 14px 50px}
.mip_styles .cta-link.icon-fw-alt [class^="icon-"] {color:#999999; margin-right: 4px}
.mip_styles a.cta-link.icon-fw-alt:hover, .mip_styles a.cta-link.icon-fw-alt:hover [class^="icon-"] {color:#b5bd00;}

.mip_styles .button.cta {padding:14px 50px; background-image: none; border: 1px solid transparent; border-radius: 0px; cursor: pointer; display: inline-block; font-family: 'equipw03-mediumregular', sans-serif; font-size: 14px; font-weight: 100; text-transform: uppercase; line-height: 1.42857; margin-bottom: 0; text-align: center; vertical-align: middle; white-space: nowrap;}
.mip_styles .button-gold.button.cta {background-color: #bc9c36; color: #fff;}
.mip_styles .button-hollow.button.cta {background-color: transparent; border-color:#565a5c; color: #565a5c;}

.mip_styles .button-gold.button.cta:hover {background-color: #b5bd00; color: #fff;}
.mip_styles .button-hollow.button.cta:hover {background-color: #b5bd00; border-color:transparent; color: #fff;}
.mip_styles .cta-link:hover {color:#b5bd00; text-decoration: underline;}
/* drops */
.mip_styles .drop-container {position: relative; cursor: pointer; z-index: 1000}
.mip_styles .drop-container.drop-button-shape {padding:14px 50px; background-image: none; border: 1px solid transparent; display: inline-block; font-family:'equiplight'; font-size: 14px; text-transform: uppercase;}
.mip_styles .drop-container > .drop-button {position: relative; margin-left: 5px; font-size: 10px}
.mip_styles .drop-container > .drop-button > .panel-tip {bottom: -35px; display: none; font-size: 30px; position: absolute; top: auto; z-index: 1002; left: -13px; color: #fff}
.mip_styles .drop-container.button-green > .drop-button > .panel-tip {bottom: -59px; display: none; font-size: 30px; position: absolute; top: auto; z-index: 1002; left: -13px; color: #fff}
.mip_styles .drop-container > .hidden-panel {display: none; margin: 0; padding:0; position: absolute; top: 57px; left:0; z-index: 1001; cursor: default; box-shadow: 0px 0px 6px rgba(0,0,0, 0.17); width: -moz-max-content; width: -webkit-max-content; width: max-content; min-width: 126px;}
.mip_styles .drop-container.button-green > .hidden-panel {display: none; margin: 0; padding:0; position: absolute; top: 81px; left:auto; right:0; z-index: 1001; cursor: default; box-shadow: 0px 0px 6px rgba(0,0,0, 0.17); width: -moz-max-content; width: -webkit-max-content; width: max-content; min-width: 126px;}
.mip_styles .drop-container > .hidden-panel a {cursor: pointer; color:#115740; text-decoration: underline; -moz-text-decoration-color:#343434; text-decoration-color:#343434; }
.mip_styles .drop-container:focus > .hidden-panel, .mip_styles .drop-container:focus > .drop-button > .panel-tip {display: block;}
.mip_styles .drop-container > .hidden-panel > ul {background-color: #fff; padding:25px; margin: 0}
.mip_styles .drop-container > .hidden-panel > ul > li, .mip_styles .button-green.drop-button-shape > .hidden-panel > ul > li {color: #565a5c; margin-bottom: 15px; cursor: text;}
.mip_styles .button-green.drop-button-shape {background-color: #115740; color: #fff;}
/* tabs */
.mip_styles .tabs {border:1px solid #ccc; border-top: none; display: table;}
.mip_styles .tabs li {float: left; padding: 10px 45px; background-color: #f5f5f5; color: #c6d0c6; font-family: 'equipcondw03-boldregular', sans-serif; font-size: 16px; border-top:3px solid rgba(176,191,176,0.7); cursor: pointer; border-right:1px solid #ccc;}
.mip_styles .tabs li:last-child {border-right:none;}
.mip_styles .tabs li.active {background-color: #fff; color: rgba(188,156,54,0.7); border-top: 1; border-top:3px solid rgba(188,156,54,0.7);}
/* panel + tables */
.mip_styles .panel {background-color: transparent; border: 1px solid transparent; border-radius: 0px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0); margin-bottom: 20px;}
.mip_styles .panel-default {border-color: transparent;}
.mip_styles .panel-default > .panel-heading {background-color: none; border-color: transparent; color: inherit;}
.mip_styles .panel-heading {border-bottom: 1px solid transparent; border-top-left-radius: 0px; border-top-right-radius: 0px; padding: 10px 0px;}
.mip_styles .panel-heading h2 {margin: 13px 0}
.mip_styles .declaimer + .drop-container {margin-left:10px;}
.mip_styles .panel-body {padding: 0px;}
.mip_styles .panel-body table {width: 100%}
.mip_styles .panel-body table tr {background-color: #fff;}
.mip_styles .panel-body table tr:nth-child(even) {background-color:#f4f2ec}
.mip_styles .panel-body table tr td {text-align: center;}
.mip_styles .panel-body table thead {padding-right: 17px; background-color:#6c9f8b;}
.mip_styles .panel-body table thead, .mip_styles .panel-body table tbody {display: block}
.mip_styles .panel-body table thead tr, .mip_styles .panel-body table tbody tr {display: inline-table; width: 100%}
.mip_styles .panel-body table thead tr td {background-color:#6c9f8b; color: #fff; font-family:'equiplight'; font-size: 16px; border-right: 1px solid #fff;}
.mip_styles .panel-body table thead tr td:last-child {border-right:none;}
.mip_styles .panel-body table tbody {height: 320px; overflow-y: auto; overflow-x: hidden;}
.mip_styles .panel-body table tbody tr td:first-child {text-align: left;}
.mip_styles .panel-body table tbody tr td {color: #343434; font-size: 16px; font-family:'equiplight';}
.mip_styles .positive-digit {color:#b5bd00; font-family: 'equipw03-mediumregular', sans-serif;  font-size:14px; display: inline-block; margin-left: 15px}
.mip_styles .negative-digit {color:#e78322; font-family: 'equipw03-mediumregular', sans-serif; font-size:14px; display: inline-block; margin-left: 15px}
.mip_styles .panel-body table tbody .progress {margin:0;}
/* panel */
.mip_styles .panel-green {border-color: transparent; border-bottom: 2px solid #999;}
.mip_styles .panel-green > .panel-heading {background-color: #115740; border-color: transparent; color:#fff; padding:13px 25px; border-bottom: 1px solid #999;}
.mip_styles .panel-green > .panel-heading h2 {color: #fff; margin: 0}
/* progress bar */
.mip_styles .progress-bar-container {display:inline-block; width: 100%; height: 11px; background-color: #115740;}
.mip_styles .progress-bar {display:inline-block; height: 11px; background-color: #b5bd00;}
/* list */
.mip_styles .list-asset {display: block; height: 254px; overflow-y: auto; margin-bottom: 0}
.mip_styles .list-asset dt {padding:5px 10px 4px 30px; background-color: #6c9f8b; border-top:1px solid #115740; border-bottom: 1px solid #115740; font-family:'equiplight', sans-serif; font-size: 16px; line-height:16px; text-transform: uppercase; color: #fff;}
.mip_styles .list-asset dd {float: none; background-color: #f5f5f5; border-top: 1px solid #999; margin-right: 0; padding: 7px 5px 5px 15px; text-align: left;}
.mip_styles .list-asset dd:nth-child(odd) {background-color: #f4f2ec;}
.mip_styles .list-asset dt + dd {border-top: none;}
.mip_styles .list-asset label {font-family: 'equipw03-mediumregular', sans-serif; color:#115740; font-size:16px; font-weight: 100; display: block; line-height: 16px}
.mip_styles .list-asset .declaimer {color: #115740; font-weight: 100}
/* modal */
.mip_styles .modal-content {border-radius: 0}
.mip_styles .modal-header { border-bottom:1px solid transparent; padding:12px }
.mip_styles .modal-header h2 {margin-top:6px; margin-bottom: 0px; padding:6px 0 0 17px;}
.mip_styles .modal-content .close {opacity: 1}
.mip_styles .modal-content .icon-x-mark:before {color:#e78322;}
.mip_styles .modal-body {padding: 5px 30px 30px}
/* form */
.mip_styles .form-inline .form-group label {font-family: 'equipw03-mediumregular', sans-serif; color:#565a5c; font-size:16px; font-weight: 100; margin-right: 10px}
.mip_styles .form-control {border: 1px solid #ccc; border-radius: 0px; box-shadow: none; color: #999999; display: block; font-size: 16px; height: 34px; line-height: 1.42857; padding: 6px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%;}
.mip_styles .form-control:focus {border-color: #6c9f8b; box-shadow: 0 1px 1px rgba(108, 159, 139, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); outline: 0 none;}
.mip_styles .error .form-control {border-color: #e78322; box-shadow: 0 1px 1px rgba(231, 131, 34, 0.075) inset, 0 0 8px rgba(231, 131, 34, 0.5);}
.mip_styles .error-message {display: none; color:#e78322; font-family:'equiplight', sans-serif; font-size: 16px}
.mip_styles .error .error-message {display: block; clear: both; text-align: right}
.mip_styles .form-inline .search.form-group label {color:#999999; font-family:'equiplight', sans-serif; font-size: 16px}
.mip_styles .search.form-group .form-control {border-right: none; font-family:'equiplight', sans-serif; font-size: 16px}
.mip_styles .search-button {background-color: #115740; color: #fff; font-size: 20px; left: -4px; padding: 6px 10px; position: relative; top: 5px; cursor: pointer}
.mip_styles .form-group textarea { min-height: 150px}
.mip_styles .tooltip-label {font-family: 'equipw03-mediumregular', sans-serif; font-size: 16px; margin-bottom: 0; margin-right: 5px; color: #343434; text-transform: uppercase;}
.mip_styles .info-asset .icon-info::before {color: #e78322; cursor: pointer; font-size: 1.6em; position: relative; top: 4px;}
.mip_styles .tooltip-inner {background-color: #6c9f8b; padding: 12px 18px; text-align: left; border-radius: 0}
.mip_styles .tooltip.top .tooltip-arrow {border-top-color:#6c9f8b; bottom: 0px}
/* radio check */
.mip_styles .radio-asset, .mip_styles .check-asset {display: inline-block;}
.mip_styles .radio-asset .icon-radio-button {font-size: 23px; color:#888; cursor: pointer; position: relative; top: 4px}
.mip_styles .radio-asset .icon-radio-button-selected {font-size: 23px; color:#115740; cursor: pointer; position: relative; top: 4px}
.mip_styles .radio-asset [type="radio"] {display: none}
.mip_styles .check-asset .icon-edit {font-size: 23px; color:#888; cursor: pointer; position: relative; top: 4px}
.mip_styles .check-asset .icon-check-mark {font-size: 23px; color: #115740; left: 1px; position: relative; cursor:pointer; top: 4px}
.mip_styles .check-asset .icon-uncheck-mark {font-size: 23px; color:#888; cursor: pointer; position: relative; top: 4px}
.mip_styles .check-asset [type="checkbox"] {display: none}
.mip_styles .radio-asset p, .mip_styles .check-asset p {margin-bottom: 0}
/* backgrounds */
.mip_styles .bg-green {background-color:#115740;}
.mip_styles .bg-dark-gray {background-color:#343434;}
.mip_styles .bg-lite-gray {background-color:#eeeeee;}
.mip_styles .bg-green > div, .bg-dark-gray > div, .bg-lite-gray > div {background-color: #fff;}
.mip_styles .bg-white {background-color: #fff;}
.mip_styles .bg-white > div {background-color:#eee;}